*,
*::before,
*::after {margin: 0; padding: 0; box-sizing: inherit;}

html {
  font-size: 62.5%;
  font-family: 'Dejavu Sans', sans-serif;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #1b1d21;
}

/* Fixes blurry canvas graphics */
canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

canvas {
  border: 1px solid #4a505a;
  border-radius: 1rem;
}

main {
  color: #919198;
  width: 55rem;
  height: 55rem;
  border: 0.5px solid #4a505a;
  border-radius: 1rem;
  background: #25282e;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

button {
  width: 8rem;
  height: 3rem;
  margin: 2rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

input {
  width: 90%;
}

output {
  margin-top: 2rem;
  margin-bottom: 0.7rem;
}

.stop-button {
  display: none;
}

.gain-range{
  width: 35%;
}

.max-frequency-range {
  width: 7rem;
  height: 1.7rem;
  text-align: center;
  appearance: none;
  outline: none;
  border: none;
  align-self: flex-start;
  margin-left: 5.5rem; 
  position: absolute;
  margin-bottom:18.4rem;
}

.currrent-gain {
  margin-top: 0;
}

.wave-form-buttons {
  display: flex;
}

.wave-form-button {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  width: 6rem;
  height: 2.5rem;
  font-size: 1.2rem;
}