*,
*::before,
*::after {margin: 0; padding: 0; box-sizing: inherit;}

html {
  font-size: 62.5%;
  font-family: 'Andale Mono', Arial;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #1b1d21;
}

/* Fixes blurry canvas graphics */
canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

canvas {
  border: 1px solid #4a505a;
  border-radius: 1rem;
}

main {
  color: #b2b2b6;
  width: 55rem;
  height: 54.5rem;
  border: 0.5px solid #4a505a;
  border-radius: 1rem;
  background: #25282e;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

button {
  color: #1b1d21;
  font-family: 'Andale Mono', Arial;
  font-weight: 800;
  width: 8rem;
  height: 3rem;
  margin: 2rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

input {
  color: #1b1d21;
  font-family: 'Andale Mono', Arial;
  appearance: none;
  background: #a9a9ad;
  height: 0.3rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  width: 85%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 1rem;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 1rem;
  background: #b3b3b7;
  border: none;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-border-radius: 1rem;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 1rem;
  background: #b3b3b7;
  border: none;
}

output {
  margin-top: 2rem;
  margin-bottom: 1.3rem;
}

.stop-button {
  display: none;
}

.gain-range{
  width: 45%;
}

.max-frequency-range {
  width: 7rem;
  height: 2rem;
  text-align: center;
  appearance: none;
  outline: none;
  border: none;
  align-self: flex-start;
  margin-left: 4rem; 
  position: absolute;
  margin-bottom:17.3rem;
  border-radius: 0.7rem;
}

.wave-form-buttons {
  display: flex;
}

.wave-form-button {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  width: 7rem;
  height: 2.4rem;
  font-size: 1.1rem;
}

button {
  background-color: #a9a9ad;
  border: none;
  border-radius: 0.7rem;
}

.stop-button:hover,
.wave-form-button:hover,
.max-frequency-range:hover,
.stop-button:hover,
.play-button:hover,
.frequency-range:hover,
.gain-range:hover,
.frequency-range::-webkit-slider-thumb:hover,
.gain-range::-webkit-slider-thumb:hover {
  background-color: #d4d4d8;
}

.stop-button:active,
.wave-form-button:active,
.max-frequency-range:active,
.stop-button:active,
.play-button:active,
.frequency-range::-webkit-slider-thumb:active,
.gain-range::-webkit-slider-thumb:active {
  background-color: #f0f0f4;
}

@media (max-width:420px) {
  main {
    width: 99.5%;
    height: 99.5%;
  }
  .gain-range{
    width: 50%;
  }
  .stop-button,
  .play-button {
    margin-bottom: 9rem;
  }
  .wave-form-button,
  .gain-range,
  .frequency-range,
  #oscilloscope {
    margin-bottom: 3rem;
  }
  .max-frequency-range {
    margin-bottom: 32rem;
    margin-left: 3rem;
  }
}

@media (max-height:915px) and (max-width:420px) {
  .stop-button,
  .play-button {
    margin-bottom: 11rem;
  }
  .wave-form-button,
  .gain-range,
  .frequency-range,
  #oscilloscope {
    margin-bottom: 5rem;
  }
  .max-frequency-range {
    margin-bottom: 40rem;
  }
}

@media (max-height:860px) and (max-width:420px) {
  .stop-button,
  .play-button {
    margin-bottom: 9rem;
  }
  .max-frequency-range {
    margin-bottom: 38rem;
  }
}

@media (max-height:760px) and (max-width:420px) {
  .stop-button,
  .play-button {
    margin-bottom: 5rem;
  }
  .max-frequency-range {
    margin-bottom: 31rem;
  }
  .wave-form-button,
  .gain-range,
  .frequency-range,
  #oscilloscope {
    margin-bottom: 4rem;
  }
}

@media (max-height:670px) and (max-width:420px) {
  .stop-button,
  .play-button {
    margin-bottom: 3.8rem;
  }
  .max-frequency-range {
    margin-bottom: 25rem;
  }
  .wave-form-button,
  .gain-range,
  .frequency-range,
  #oscilloscope {
    margin-bottom: 3rem;
  }
  .wave-form-button {
    margin-bottom: 1rem;
  }
}

@media (max-width:320px) and (max-width:420px) {
  .stop-button,
  .play-button {
    margin-bottom: 3.5rem;
  }
  .wave-form-button,
  .gain-range,
  .frequency-range,
  #oscilloscope {
    margin-bottom: 3rem;
  }
  .max-frequency-range {
    margin-bottom: 24rem;
    margin-left: 2.3rem;
  }
  .wave-form-button {
    margin: 0.3rem;
    margin-bottom: 1.5rem;
  }
}