*,
*::before,
*::after {margin: 0; padding: 0; box-sizing: inherit;}

html {
  font-size: 62.5%;
  font-family: 'Andale Mono';
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #1b1d21;
}

/* Fixes blurry canvas graphics */
canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

canvas {
  border: 1px solid #4a505a;
  border-radius: 1rem;
}

main {
  color: #b2b2b6;
  width: 55rem;
  height: 54.5rem;
  border: 0.5px solid #4a505a;
  border-radius: 1rem;
  background: #25282e;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

button {
  color: #1b1d21;
  font-family: 'Andale Mono';
  font-weight: 800;
  width: 8rem;
  height: 3rem;
  margin: 2rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

input {
  color: #1b1d21;
  font-family: 'Andale Mono';
  appearance: none;
  background: #a9a9ad;
  height: 0.3rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  width: 85%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 1rem;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 1rem;
  background: #a9a9ad;
  border: none;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-border-radius: 1rem;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 1rem;
  background: #a9a9ad;
  border: none;
}

output {
  margin-top: 2rem;
  margin-bottom: 1.3rem;
}

.stop-button {
  display: none;
}

.gain-range{
  width: 40%;
}

.max-frequency-range {
  width: 7rem;
  height: 1.7rem;
  text-align: center;
  appearance: none;
  outline: none;
  border: none;
  align-self: flex-start;
  margin-left: 4rem; 
  position: absolute;
  margin-bottom:17.3rem;
}

.wave-form-buttons {
  display: flex;
}

.wave-form-button {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  width: 7rem;
  height: 2.5rem;
  font-size: 1.2rem;
}

button {
  background-color: #a9a9ad;
  border: none;
  border-radius: 2rem;
}